/* Стилизизация элемента service-card__description */
.service-card__description {
  font-family: 'Istok Web', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(48, 48, 54);
}

