/* Стилизизация блока hover-item */

.hover-item {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: rgb(48, 48,54);
}

.hover-item::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.4s;
  color: rgb(74, 127, 231);
}

.hover-item > span {
  display: block;
  transform: translateY(0);
  transition: all 0.4s;
}

.hover-item:hover > span, .hover-item.active > span {
  transform: translateY(100%);
}

.hover-item:hover::after, .hover-item.active::after {
  transform: translateY(0);
}


