/* Стилизизация элемента services__elements */
.services__elements {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-row-gap:40px;
  grid-column-gap: 30px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1150px) {
  .services__elements {
    grid-template-columns: 350px 350px;
  }
}
@media screen and (max-width: 750px) {
  .services__elements {
    grid-template-columns: 320px;
    grid-column-gap: 0;
  }
}
