@import url(../vendor/normalize.css);

/* Подключаем шрифты */
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/material-design.css);

/* Вся страница */
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

/*Эффект при ховере со сдвигом*/
@import url(../blocks/hover-item/hover-item.css);

/* Шапка */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-icon/header__logo-icon.css);
@import url(../blocks/header/__logo-text/header__logo-text.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__item-text/menu__item-text.css);
@import url(../blocks/menu/__items/menu__items.css);

@import url(../blocks/header/__content/header__content.css);
@import url(../blocks/header/__phone/header__phone.css);
@import url(../blocks/header/__login/header__login.css);
@import url(../blocks/header/__login-pic/header__login-pic.css);
@import url(../blocks/header/__contacts/header__contacts.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__cover/intro__cover.css);
@import url(../blocks/intro/__slogan/intro__slogan.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__about/intro__about.css);

@import url(../blocks/button/button.css);

@import url(../blocks/services/services.css);
@import url(../blocks/services/__title/services__title.css);
@import url(../blocks/services/__elements/services__elements.css);

@import url(../blocks/service-card/service-card.css);
@import url(../blocks/service-card/__title/service-card__title.css);
@import url(../blocks/service-card/__icon/service-card__icon.css);
@import url(../blocks/service-card/__description/service-card__description.css);
@import url(../blocks/service-card/__background/service-card__background.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/_isview/popup__close_isview.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_with-error/popup__field_with-error.css);
@import url(../blocks/popup/__field-and-error/popup__field-and-error.css);
@import url(../blocks/popup/__field-error/popup__field-error.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__save/_inactive/popup__save_inactive.css);
@import url(../blocks/popup/__title/popup__title.css);
