/* Стилизизация блока button */
.button {

  border-radius: 6px;
  border: none;
  color: #ffffff;
  padding: 15px 20px;
  cursor: pointer;
  background: #0366ef;

  transition-property:  all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  min-width: 238px;
  min-height: 46px;
}

.button:active, .button:focus {
  outline: none;
}

.button:hover {
  background: #ffad36;
  color: #000;
}
