/* Стилизизация элемента intro__title */
.intro__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  line-height: 43px;
  font-weight: 700;
  font-style: normal;
  color: rgb(48, 48, 54);
  margin: 0;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 750px) {
  .intro__title {
   text-align: center;
  }
}

